*{
    -fx-font-family: "serif";
    -fx-font-size: 14px;
}

#pane {
    -fx-padding: 0;
    -fx-background-image: url("../../resources/background.jpg");
}


#showRegisterPaneLabel, #showLoginPaneLabel {
    -fx-font-size: 17px;
    -fx-font-weight: bold;

    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    /*-fx-text-fill: #9ced87;*/

}


#table-column{
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#table-column:odd{
    -fx-background-color: rgba(200,230,250,0.3);
}

.lastMath{
    -fx-background-color: rgba(255, 91, 82, 0.70);
}

.lastMath:selected {
    -fx-background-color: rgba(136, 27, 21, 0.70);
}

.todayMatch {
    -fx-background-color: rgba(152, 238, 162, 0.69);
 }

.todayMatch:selected {
    -fx-background-color: rgba(46, 120, 48, 0.71);
}


#bigText {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}


#textId {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );

}

#defBut {
    -fx-text-fill: white;
    -fx-font-size: 13px;
    /*-fx-font-family: "Times New Roman";*/
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#defBut:hover {
    -fx-font-size: 13px;
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
